body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  font-family   : sans-serif;
}


/**
 * #########################################################
 * # Header
 * #########################################################
 */

header {
  background-image: linear-gradient(rgb(55,55,55), rgb(200,200,200));
}

header .container {
  display: flex;
}

header h1 {
  color         : rgb(255,255,255);
  font-size     : 1.4rem;
  display       : inline-block;
  padding-top   : 0.35rem;
}

header h2 {
  color         : rgb(255,255,255);
  font-size     : 1rem;
  display       : inline-block;
  padding-top   : 1.75rem;
}

header a {
    text-decoration: none;
    color: rgb(255,255,255);
}

header nav {
  flex-grow: 1;
}

header nav ul {
  font-size : 0;
  text-align: right;
}

header nav li {
  font-size   : 1rem;
  display     : inline-block;
  margin-left : 0.5rem;
}

header nav li:nth-of-type(1) a.btn {
    background-color: #6600cc;
}
header nav li:nth-of-type(2) a.btn {
    background-color: #cc0000;
}
header nav li:nth-of-type(3) a.btn {
    background-color: #33cc00;
}

header nav li a.btn:hover,
header nav li a.btn:focus {
  box-shadow: 0 1px 0 #fff;
}

header nav li a.btn {
  transition: box-shadow 300ms linear;
}

header .timer {
    display: inline;
}

/**
 * These rules will only be applied when the
 * user's viewport is 650px wide or less
 */
@media only screen and (max-width: 650px) {

  header h1 {
    margin-bottom: 1rem;
  }
  
  header h2 {
    margin-bottom: 1rem;
  }

  header nav {
    float: none;
  }

  header nav,
  header nav li,
  header nav li a.btn,
  header .container {
    display: block;
  }

  header nav li {
    margin-left: 0;
  }

  header nav li:not(:last-of-type) {
    margin-bottom : 0.5rem;
  }

}


/**
 * #########################################################
 * # Main
 * #########################################################
 */

main {
  flex-grow: 1;
  background-color: rgb(200,200,200);
}

main strong {
  font-weight: bolder;
}

main h2,
main p {
  color        : rgb(55,55,55);
  margin-bottom: 1.5rem;
  line-height  : 1.3em;
}

main h2 {
  font-size : 2rem;
  margin-top: 1rem;
}

main ul {
  margin-bottom: 0.5em;
  list-style-type: square;
  list-style-position: inside;
}

main li {
    padding: .25em;
}

div.player_list {
    background-color: #ffffff;
    border: solid 1px;
    border-color: #000;
    border-radius: 0.1rem;
}

div.character_list {
    background-color: #ffffff;
    border: solid 1px;
    border-color: #000;
    border-radius: 0.1rem;
}

/*main li {
  padding         : 1rem;
  background-color: rgba(0,0,0,0.05);
  margin-bottom   : 1px;
  border-left     : 2px solid transparent;
  transition      : border-left-color 300ms linear;
}

main li:hover {
  transition      : border-left-color 300ms linear;
  border-left-color: rgb(55,55,55);
}

main li:nth-of-type(2n) {
  background-color: rgba(0,0,0,0.1);
}*/




/**
 * #########################################################
 * # Footer
 * #########################################################
 */

footer {
  background-image: linear-gradient(to top, rgb(55,55,55), rgb(200,200,200));
  color           : rgb(255,255,255);
}


/**
 * #########################################################
 * # Misc
 * #########################################################
 */

.container {
  width     : 100%;
  max-width : 1200px;
  margin    : 0 auto;
  padding   : 1rem 2rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {

  .container {
    padding-left : 1rem;
    padding-right: 1rem;
  }

}

a.btn {
  display          : inline-block;
  background-color : rgba(0,0,0,0.8);
  color            : white;
  text-decoration  : none;
  padding          : 0.5rem 1rem;
  line-height      : 1;
  border-radius    : 3px;
  text-align       : center;
}

main .thumb img {
  width         : 10em;
  vertical-align: middle;
  border        : 1px solid rgb(0,0,0);
  padding       : 1em;
}

main div.thumbnails img {
  width         : 10em;
  vertical-align: middle;
  padding       : 0.25em;
  border        : 1px solid rgb(200,200,200);
  margin        : 0.25em;
}




/**
 * #########################################################
 * # Forms
 * #########################################################
 */

main form {
  width        : 100%;
  max-width    : 35rem;
  margin       : 0 auto 2em auto;
  padding      : 1em;
  border       : 1px solid rgb(200,200,200);
  border-radius: 0.25rem;
  box-sizing   : border-box;
}

main form>div:not(:last-of-type) {
  margin-bottom: 1em;
  display      : flex;
}

main form input,
main form label,
main form textarea {
  flex     : 1;
  color    : rgb(55,55,55);
  padding  : 0.5em;
  font-size: 1em;
}

main form label {
  padding-left: 0;
}

main form input,
main form textarea {
  border-radius: 0.25em;
}

main form textarea {
  min-height: 6em;
}

main form input:not([type="submit"]),
main form textarea {
  border: 1px solid rgb(200,200,200);
}

main form input[type="submit"] {
  background-color: #42a5f5;
  color           : white;
  border          : 1px solid #42a5f5;
}

 .error {
  background-color: rgb(235, 97, 97);
  color           : white;
  padding         : 0.25em 0.75em;
  margin-bottom   : 0.25em;
}
 .error:last-of-type {
  margin-bottom   : 1em;
}




/**
 * #########################################################
 * # Tabs
 * #########################################################
 */

div.tabs>a.tab-trigger {
  display                : inline-block;
  text-decoration        : none;
  border                 : 1px solid rgb(155,155,155);
  color                  : rgb(55,55,55);
  background-color       : rgb(255,255,255);
  padding                : 0.5em 1em 0.4em 1em;
  border-top-left-radius : 0.2em;
  border-top-right-radius: 0.2em;
}

div.tabs>a.tab-trigger.active {
  padding-bottom: 0.75em;
  border-bottom : none;
}

div.tabs>div {
  border       : 1px solid rgb(155,155,155);
  margin-top   : -1px;
  padding      : 1em;
  margin-bottom: 2em;
  background-color: rgb(255,255,255);
}

div.tabs>div:not(.active) {
  display: none;
}